@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.fira-sans-regular {
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-style: normal;
}

.fira-sans-medium {
  font-family: "Fira Sans", serif;
  font-weight: 500;
  font-style: normal;
}

.fira-sans-bold {
  font-family: "Fira Sans", serif;
  font-weight: 700;
  font-style: normal;
}

body {
  background-color: #f5f5f5;
  margin: 0;
  font-family: "Fira Sans", serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-family: "Fira Sans", serif;
  color: #0e0e0e;
}

.container {
  width: 1280px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}

.btn {
  font-family: "Fira Sans", serif;
  border-radius: 8px;
  border: 0;
  font-weight: 500;
  transition: 0.3s;
}

/* Nav Styles */
.navbar {
  width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  margin-bottom: 20px;
}

.navbar .logo {
  font-family: "Fira Sans", serif;
  font-size: 32px;
  color: #0e0e0e;
}

.navbar .btn-navbar {
  color: #006a50;
  border: solid 1px #006a50;
  padding: 15px 30px;
  background-color: #f5f5f5;
  font-size: 18px;
}

.navbar .btn-navbar:hover {
  background-color: #006a50;
  color: #ffffff;
}

/* Banner Styles */
.banner {
  width: 1170px;
  height: 560px;
  background-color: #c6e4d6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 24px;
  padding: 0px 60px;
}

.banner-content {
  width: 622px;
}
.banner-content .sub-title {
  font-size: 24px;
  color: rgba(14, 14, 14, 0.5);
  margin-bottom: 16px;
}

.banner-content .banner-title {
  font-size: 57px;
  margin-bottom: 24px;
  color: #0e0e0e;
}

.btn-primary {
  background-color: #006a50;
  color: #ffffff;
  padding: 17px 34px;
  font-size: 18px;
}

.banner-content .btn-primary:hover {
  background-color: #014031;
}

.banner-content .banner-img {
  height: 400px;
}

/* Vision of Future Styles */
.vision-of-future {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

.vision-of-future .info {
  margin-bottom: 32px;
}

.vision-of-future .info .vision-info-title {
  font-family: "Fira Sans", serif;
  font-size: 40px;
  font-weight: 700;
  color: #0e0e0e;
  margin-bottom: 24px;
}

.vision-of-future .info .vision-info-description {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  line-height: 24px;
}

.vision-cards {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.vision-cards #card {
  padding: 32px;
  border-radius: 16px;
  width: 410px;
}

.vision-cards .blue-card {
  background-color: rgba(84, 143, 245, 0.2);
}

.vision-cards .green-card {
  background-color: #c6e4d6;
}

.vision-cards .yellow-card {
  background-color: #f7ebcf;
}

.vision-cards #card .card-icon {
  width: 64px;
  height: 64px;
  margin-bottom: 25px;
}

.vision-cards #card .card-title {
  font-size: 20px;
  margin-bottom: 12px;
}

.vision-cards #card .card-description {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 24px;
}

.vision-cards .btn-blue {
  background-color: #5490f5;
  padding: 11px 20px;
  color: #ffffff;
  font-size: 16px;
}

.vision-cards .btn-blue:hover {
  background-color: #2b69d4;
}

.vision-cards .btn-green {
  background-color: #09a15c;
  padding: 11px 20px;
  color: #ffffff;
  font-size: 16px;
  margin-top: 24px;
}

.vision-cards .btn-green:hover {
  background-color: #038249;
}

.vision-cards .btn-yellow {
  background-color: #ffc239;
  padding: 11px 20px;
  color: #ffffff;
  font-size: 16px;
}

.vision-cards .btn-yellow:hover {
  background-color: #dba017;
}

/* Recent News Style  */
.recent-news {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.recent-news .info {
  margin-bottom: 32px;
}

.recent-news .info .recent-news-title {
  font-size: 40px;
  font-weight: 700;
  color: #0e0e0e;
  margin-bottom: 24px;
}

.recent-news .info .recent-news-description {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  line-height: 24px;
}

.news-cards .news-card-item {
  background-color: #ffffff;
  padding: 48px;
  border-radius: 24px;
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.news-card-item-reverse {
  flex-direction: row-reverse;
}
.news-cards .news-card-item .news-image {
  height: 305px;
  border-radius: 24px;
}

.news-cards .news-card-item .news-card-content .card-content-title {
  font-size: 32px;
  color: rgba(14, 14, 14, 0.8);
  margin-bottom: 12px;
}

.news-cards .news-card-item .news-card-content .card-content-icon {
  height: 40px;
  margin-bottom: 12px;
}

.news-cards .news-card-item .news-card-content .card-data {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  margin-bottom: 12px;
}

.news-cards .news-card-item .news-card-content .card-data .date {
  margin-right: 12px;
}

.news-cards .news-card-item .news-card-content .card-data .time {
}

.news-cards .news-card-item .news-card-content .news-excerpt {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  margin-bottom: 32px;
  line-height: 24px;
}

.news-cards .news-card-item .btn-primary {
  padding: 13px 26px;
}

.news-cards .news-card-item .btn-primary:hover {
  background-color: #014031;
}

/* Donate Today Style  */
.donate-today {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.donate-today .donate-info {
  margin: 0 88px 32px;
  text-align: center;
}

.donate-today .donate-info .donate-title {
  font-size: 40px;
  font-weight: 700;
  color: #0e0e0e;
  margin-bottom: 24px;
}
.donate-today .donate-info .donate-description {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  line-height: 24px;
}

.donate-today .donate-money-cards {
  display: flex;
  justify-content: space-between;
  margin: 0 105px;
}
.donate-today .donate-money-cards .donate-money-card-item {
  padding: 40px;
  border-radius: 16px;
  background-color: #ffffff;
  border: solid 1px rgba(14, 14, 14, 0.15);
  margin-bottom: 32px;
  transition: 0.3s;
}

.donate-today .donate-money-cards .active {
  background-color: #c6e4d6;
}

.donate-today .donate-money-cards .donate-money-card-item:hover {
  background-color: #c6e4d6;
}

.donate-today .donate-money-cards .donate-money-card-item .donate-amount {
  font-size: 40px;
  color: rgba(14, 14, 14, 0.7);
}

.other-amount-input {
  width: 100%;
}

.donate-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 125px;
}

.donate-form input[type="text"] {
  width: 100%;
  text-align: center;
  color: rgba(14, 14, 14, 0.163);
  padding: 20px 40px;
  border: 0;
  border-bottom: solid 1px rgba(14, 14, 14, 0.15);
  margin-bottom: 32px;
  font-size: 20px;
  font-family: "Fira Sans", serif;
}
.donate-form ::placeholder {
  /* Most modern browsers support this now. */
  color: rgba(14, 14, 14, 0.163);
}
.donate-form .btn-primary {
  padding: 17px 34px;
}

.donate-form .btn-primary:hover {
  background-color: #014031;
}

/* Footer Style  */

footer {
  height: 600px;
}
